<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <link href="css/client.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h3 id="fittext"></h3>
        <img id="image" />

    </div>
    <script type="text/javascript" src="/js/client.js"></script>
</body>

</html>